# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: BSD-2-Clause

Checks: >
  *,
  -altera-*,
  -llvmlibc-*,
  -misc-include-cleaner,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
