# Copyright 2021-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: BSD-2-Clause

Checks: >
  *,
  -*-magic-numbers,
  -altera-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -cert-err33-c,
  -cert-err34-c,
  -llvmlibc-*,
  -readability-identifier-length,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
