# Copyright 2021-2023 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: BSD-2-Clause

Checks: >
  -*-magic-numbers,
  -concurrency-mt-unsafe,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
