# Copyright 2021-2024 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: BSD-2-Clause

Checks: >
  -*-magic-numbers,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -readability-avoid-nested-conditional-operator
InheritParentConfig: true
